.project-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  background-color: bisque;
  margin: 0 1rem 1rem 0;
  padding-bottom: 0.7rem;
  border-radius: 0.5rem;
}

.project-card:hover .card-front {
  display: none;
}

.project-card:hover .card-back {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-front,
.card-back {
  padding: 1rem;
}

.card-front {
  display: flex;
  flex-direction: column;
}
.card-front img {
  align-self: center;
  width: 45%;
}

.card-front h2 {
  text-align: center;
  margin-top: 0.5rem;
}

.card-back {
  display: none;
}

.card-back p {
  margin-bottom: 1rem;
}

.card-back button {
  background-color: transparent;
  border: 0.2rem solid #721d1d;
  border-radius: 0.6rem;
  font-family: inherit;
  font-size: inherit;
  padding: 0.6rem 0.8rem;
}

.card-back button:hover {
  background-color: #721d1d;
  color: #fff;
}
@media only screen and (max-width: 800px) {
  .project-card {
    width: 45%;
    margin: 0 2rem 2rem 0;
  }
}
@media only screen and (max-width: 600px) {
  .project-card {
    width: 70%;
    margin: 0 0 2rem 0;
  }
}
