.courses-wrapper {
  display: flex;
  justify-content: center;
  margin: 2.5rem;
}

.courses-card {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1rem 1.5rem;
  border: 2px solid black;
  border-radius: 1rem 0 1rem 0;
}

.courses-card:not(:last-child) {
  margin-right: 3rem;
}

.courses-card h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.past {
  border-color: rgb(20, 158, 20);
}

.past h2 {
  color: rgb(20, 158, 20);
}

.past li {
  background-color: rgb(20, 158, 20);
}

.present {
  border-color: rgb(34, 32, 180);
}

.present h2 {
  color: rgb(34, 32, 180);
}

.present li {
  background-color: rgb(34, 32, 180);
}

.future {
  border-color: rgb(238, 136, 87);
}

.future h2 {
  color: rgb(238, 136, 87);
}

.future li {
  background-color: rgb(238, 136, 87);
}

.courses-list-item {
  color: #fff;
  padding: 1.8rem;
  clip-path: polygon(84% 0, 100% 53%, 82% 100%, 0 100%, 0 0);
}

.courses-list-item:not(:last-child) {
  margin-bottom: 1rem;
}
