a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  font-weight: 500;
  font-size: 1.8rem;
}
.site-logo {
  display: grid;
  place-items: center;
  width: 5rem;
  height: 5rem;
  border: 0.5rem solid #000000;
  transform: rotate(0deg);
  transition: transform 0.5s ease-in-out;
}
.site-logo:hover {
  opacity: 1;
  transform: rotate(-90deg);
}
.logo-text {
  transform: rotate(0deg);
  transition: transform 0.5s ease-in-out;
}
.site-logo:hover .logo-text {
  transform: rotate(90deg);
  transform-origin: center;
}
.nav-sections {
  display: flex;
}
.nav-sections-item {
  list-style: none;
}
.nav-sections-item:not(:last-child) {
  margin-right: 4rem;
}
.nav-sections-item a:hover {
  border-bottom: 2px groove rgb(102, 51, 153);
}
@media only screen and (max-width: 600px) {
  .nav-container {
    flex-direction: column;
  }
  .site-logo {
    width: 4rem;
    height: 4rem;
    border: 0.3rem solid #000000;
    margin-bottom: 1.5rem;
  }
}
@media only screen and (max-width: 550px) {
  .nav-sections-item:not(:last-child) {
    margin-right: 2.5rem;
  }
}
@media only screen and (max-width: 460px) {
  .nav-sections {
    flex-flow: column;
    align-self: baseline;
  }
  .nav-sections-item:not(:last-child) {
    margin-bottom: 1rem;
  }
}
