.section-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-projects p {
  text-align: center;
  margin-top: 2rem;
}
.section-projects p a {
  font-weight: 700;
}
.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80vw;
  margin-top: 2rem;
}
